NODE_ENV="development"

DATABASE_URL="postgresql://seacows:seacows@localhost:5432/seacows_backend?schema=public"
DATABASE_WRITE_URL="postgresql://seacows:seacows@localhost:5432/seacows_backend?schema=public"

# API KEYS
LOOKSRARE_API_KEY_1=
LOOKSRARE_API_KEY_2=

RESERVOIR_API_KEY_1=
RESERVOIR_API_KEY_2=
RESERVOIR_API_KEY_3=

MORALIS_API_KEY=

CHAIN_ID=5

