NODE_ENV="development"

DATABASE_URL="postgresql://seacows:seacows@localhost:5432/seacows_backend?schema=public"
DATABASE_WRITE_URL="postgresql://seacows:seacows@localhost:5432/seacows_backend?schema=public"
